:root{
    --main-color:#5e35b1;
    --color-dark:#1d2231;
    --text-grey:#8390a2;
    --secondary-color:#f3e5f5;
}

*{
    font-family: 'poppins', sans-serif;
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
    box-sizing:border-box;
}


#sidebar-toggle{
    display: none;
}


.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    background: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition:width 500ms;
 

}

.sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:60px;
    padding: 0rem 1rem;

}

.sidebar-menu{
    padding: 1rem;
}

.sidebar ul{
    margin-bottom: 1rem;
}

.sidebar li{
    margin-bottom: 1.2rem;
}

.sidebar li a {
    color: #fff;
    font-size: .9rem;
    text-decoration: none;
}


.sidebarli:first-child a{
    background: rgba(0, 0, 0, 0.7);
}

.sidebar a span:last-child{

    padding-left: .6rem;

}

#sidebar-toggle:checked ~ .sidebar{
    width:60px;
}



#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}


#sidebar-toggle:checked ~ .main-content header{
    left: 60px;
}


#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display: none;

}


#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;

}



.main-content{
    position:relative;
    margin-left:240px;
    transition: margin-left 500ms;
}

.main-content header{
    position: fixed;
    top: 0;
    left: 240px;
    display:flex;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-grey);
    transition: left 500ms;
}

,.main-content header .search-wrapper{
    display: flex;
    align-items: center;
}

.main-content header .search-wrapper input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.main-content header .social-icons{
    display: flex;
  
}


.main-content header .social-icons span, 
.main-content header .social-icons div{
    margin-left:1.2rem;
}

.main-content header .social-icons div{
    height: 38px;
    width:38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/logo.png);
    border-radius:50%;
    
}

main{
    margin-top: 60px;
    background: #fff;
    min-height: 90vh;
    padding: 1rem 3rem;
    

}

main .dash-title{
    color: var(--main-color);
    margin-bottom: 1rem;
}

main .dashboard-cards .card-single{

background: #fff;
border-radius:.2rem;
box-shadow:0px 7px 29px 0px rgba(116, 116, 116, 0.2) ;
}

main .dashboard-cards .card-single .card-body{

    padding: 1.2rem;
    display: flex;
}

main .dashboard-cards .card-single .card-body span{

    font-size:1.7rem;
    color:#777;
    padding-right: 1.4rem;
    margin-top:.7rem;
}

.card-single .card-body h5{
    color: var(--main-color);
    font-size: 1.2rem;
}

.card-single .card-body h4{
    color: var(--main-color);
    font-size: 1.1rem;
    margin-top: .2rem;
}

main .dashboard-cards .card-single .card-footer{
    padding: .8rem 1rem;
    background: #ffffff;
}

.card-single .card-footer a{
    color: var(--main-color);
    text-decoration:none;
}

@media screen and (max-width:1200px) {

   .sidebar{
       width: 60px;
       z-index: 150;
   }

 .main-content header{
    left: 60px;
    width: calc(100% - 60px );
}


.main-content{
    margin-left:60px;
}

.sidebar .sidebar-header,
.sidebar li{
    display: flex;
    justify-content: center;
}

 .sidebar .sidebar-header h3 span,
 .sidebar li span:last-child{
    display: none;

}



#sidebar-toggle:checked ~ .sidebar{
    width:240px;
}



#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}


#sidebar-toggle:checked ~ .main-content header{
    left:60px;
    width:calc(100% -60px);
}


#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display: inline;

}


#sidebar-toggle:checked ~ .sidebar .sidebar-header,
{
    display: flex;
    justify-content: space-between;
}
#sidebar-toggle:checked ~ .sidebar li{
    display:block;
}   
}