{% load static %}
{% extends 'base.html' %}
{% block content %}

<section class="checkout">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <h2>
                    Input Your Details To Purchase Package
                </h2>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="row justify-content-center">
                        <div class="form-group">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}