{% extends 'base.html' %}
{% load static %}

{% block content %}


{% if messages %}
<div class=" container mt-3 message">
<div class="row justify-content-center">
{% for message in messages %}
<div class=" alert alert-dismissible text-center fade show" role="alert">
{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
</div>
</div>
{% endif %}

<h2 class="dash-title">Packages</h2>
        <div class="container">
            <div class="dashboard-cards">
            <div class="row justify-content-center">

               {% for product in products %}
        <div class="col-lg-4 col-md-6 mt-3 ">
            <div class="card-single ">
                <div class="card-body">
                    <span class="fa fa-briefcase"></span>
                    <div>
                        <h5>{{product.name}}</h5>
                        <h4>${{product.price}}</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">View</a>
                    <a href="{% url 'dashboard:add_to_cart' product.slug %}">Add to Cart</a>
                </div>
            </div> 
    </div>

    {% endfor %}

 

           

        </div>
    </div>
    </div>
      


{% endblock %}