{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="dash-title">Packages</h2>
        <div class="container">
            <div class="dashboard-cards">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-3 ">
                        <div class="card-single ">
                            <div class="card-body">
                                <span class="fa fa-briefcase"></span>
                                <div>
                                    <h5>Starter</h5>
                                    <h4>$200</h4>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="">View</a>
                            </div>
                        </div> 
                </div>

                <div class="col-lg-4 col-md-6 mt-3 ">
                    <div class="card-single ">
                        <div class="card-body">
                            <span class="fa fa-briefcase"></span>
                            <div>
                                <h5>Starter Plus</h5>
                                <h4>$250</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">View</a>
                        </div>
                    </div> 
            </div>

            <div class="col-lg-4 col-md-6 mt-3 ">
                <div class="card-single ">
                    <div class="card-body">
                        <span class="fa fa-briefcase"></span>
                        <div>
                            <h5>Intermediate</h5>
                            <h4>$350</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View</a>
                    </div>
                </div> 
        </div>

        <div class="col-lg-4 col-md-6 mt-3 ">
            <div class="card-single ">
                <div class="card-body">
                    <span class="fa fa-briefcase"></span>
                    <div>
                        <h5>Intermediate Plus</h5>
                        <h4>$350</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">View</a>
                </div>
            </div> 
    </div>

    <div class="col-lg-4 col-md-6 mt-3 ">
        <div class="card-single ">
            <div class="card-body">
                <span class="fa fa-briefcase"></span>
                <div>
                    <h5>Pro Package</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View</a>
            </div>
        </div> 
</div>

<div class="col-lg-4 col-md-6 mt-3 ">
    <div class="card-single ">
        <div class="card-body">
            <span class="fa fa-briefcase"></span>
            <div>
                <h5>Ultimate Pro</h5>
                <h4>$750</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="">View</a>
        </div>
    </div> 
</div>

<div class="col-lg-4 col-md-6 mt-3 ">
    <div class="card-single ">
        <div class="card-body">
            <span class="fa fa-briefcase"></span>
            <div>
                <h5>Special Package</h5>
                <h4>$750 - Unlimited</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="">View</a>
        </div>
    </div> 
</div>


           

        </div>
    </div>
    </div>
      


{% endblock %}