{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="order-history">
    <div class="container">
        <div class="row justify-content-center">
            <h2>
                My Order History  
            </h2>
            
            <div class="row mt-5 justify-content-center">
                {% for order in order %}
                <div class="col-md-4 col-lg-4 mt-3">
                 
                    <div class="order-details">
                      <div class="order-single">

                    {% for order_item in order.products.all %}
                        <h2>
                     {{order_item.product.name}}</h2
                     >
                     <span>Quantity:<span>
                     {{order_item.quantity}}</span></span>
                    {% endfor %}

                   <span>Amount:<span>{{order.amount}}</span></span> 

                   <span>Date:<span>{{order.date_order}}</span></span> 

                    {% if  order.complete == True %}

                   <span>Status: Paid</span> 

                    {% else %}

                   <span>Status : Failed </span> 
                    {% endif %}
                </div>

                      </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock %}