<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FEDERATION OF IYIN EKITI STUDENT UNION </title>
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <input type="checkbox" name="" id="sidebar-toggle">
        <div class="sidebar">
            <div class="sidebar-header">
                <h3 class="brand">
                    <span class="fa fa-unlink"></span>
                    <span>Idashboard</span>
                </h3>
                <label for="sidebar-toggle" class="fa fa-bars" ></label>
            </div>
            <div class="sidebar-menu">
              

                <ul>
                    <li>
                        <a href="">
                            <span class="fa fa-home"></span>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-list "></span>
                            <span> Packages </span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-clipboard"></span>
                            <span>My Packages</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-file "></span>
                            <span>Purchase History</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-arrow-right"></span>
                            <span>Logout</span>
                        </a>
                    </li>

                </ul>

    </div>
            </div>

 <div class="main-content">

     <header>

         <div class="search-wrapper">
         <span class="fa fa-search"></span>
         <input type="search" placeholder="Search">
         </div>

         <div class="social-icons">
            <span class=" fa fa-bell"></span>
            <span class="fa fa-comment"></span>
            <div></div>
        </div>
 
     </header>

    <main>

        <h2 class="dash-title">Packages</h2>
        <div class="container">
            <div class="dashboard-cards">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-3 ">
                        <div class="card-single ">
                            <div class="card-body">
                                <span class="fa fa-briefcase"></span>
                                <div>
                                    <h5>Starter</h5>
                                    <h4>$200</h4>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="">View</a>
                            </div>
                        </div> 
                </div>

                <div class="col-lg-4 col-md-6 mt-3 ">
                    <div class="card-single ">
                        <div class="card-body">
                            <span class="fa fa-briefcase"></span>
                            <div>
                                <h5>Starter Plus</h5>
                                <h4>$250</h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="">View</a>
                        </div>
                    </div> 
            </div>

            <div class="col-lg-4 col-md-6 mt-3 ">
                <div class="card-single ">
                    <div class="card-body">
                        <span class="fa fa-briefcase"></span>
                        <div>
                            <h5>Intermediate</h5>
                            <h4>$350</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">View</a>
                    </div>
                </div> 
        </div>

        <div class="col-lg-4 col-md-6 mt-3 ">
            <div class="card-single ">
                <div class="card-body">
                    <span class="fa fa-briefcase"></span>
                    <div>
                        <h5>Intermediate Plus</h5>
                        <h4>$350</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">View</a>
                </div>
            </div> 
    </div>

    <div class="col-lg-4 col-md-6 mt-3 ">
        <div class="card-single ">
            <div class="card-body">
                <span class="fa fa-briefcase"></span>
                <div>
                    <h5>Pro Package</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View</a>
            </div>
        </div> 
</div>

<div class="col-lg-4 col-md-6 mt-3 ">
    <div class="card-single ">
        <div class="card-body">
            <span class="fa fa-briefcase"></span>
            <div>
                <h5>Ultimate Pro</h5>
                <h4>$750</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="">View</a>
        </div>
    </div> 
</div>

<div class="col-lg-4 col-md-6 mt-3 ">
    <div class="card-single ">
        <div class="card-body">
            <span class="fa fa-briefcase"></span>
            <div>
                <h5>Special Package</h5>
                <h4>$750 - Unlimited</h4>
            </div>
        </div>
        <div class="card-footer">
            <a href="">View</a>
        </div>
    </div> 
</div>


           

        </div>
    </div>
    </div>
      
            

    </main>

    

    </body>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/main.js"></script>
</html>
