{% extends 'layout.html' %}
{% load static %}

{% block content %}

        <section class="hero">  
            <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-lg-5 col-md-5  mt-3 hero-words">
                    <h2>
                        Build Your App , Grow Your Business
                    </h2>

                    <p>
                        A chance for you to build your applications and grow your business with a single click
                    </p>
                    
                    <a href="" class="btn btn-outline-white hero-btn"> Get Started </a>

                </div>

                <div class="col-lg-7 col-md-7 ">
                  <img src=" {% static 'img/hero.png' %} " width="90%" alt="">
                </div>

            </div>

            </div>

        </section>

        <section class="about" id="about">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-12 col-lg-8 text-center">
                        <h2>
                            About Us
                        </h2>
                        

                    </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-5 col-lg-5">
                            <img src="{% static 'img/hero.png' %}" width="100%">
                        </div>

                        <div class="col-md-7 col-lg-7 text-center mt-5">
                            <div class="about-words">
                                <p>
                                    
                            We are a big tech agency with experience developers who shall get your work done 
                            We are a big tech agency with experience developers who shall get your work done 
                            We are a big tech agency with experience developers who shall get your work done 
                            We are a big tech agency with experience developers who shall get your work done
                            We are a big tech agency with experience developers who shall get your work done 
                            We are a big tech agency with experience developers who shall get your work done 
                                </p>
                            </div>
                        </div>
                    </div>


                    <section class="services" id="services">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-12 text-center mt-3" >
                                    <h2>
                                        Services
                                    </h2>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-4">
                       
                                <div class="col-md-4 col-lg-4 mt-3 about-details text-center">
                                    <div class="services-single">
                                        <div class="header">
                                            <i class="fa fa-user">
                                            </i>
                                        </div>
                                        <div class="services-words">
                                            <p>
                                                Get fascinating websites applications for as 
                                                low as possible with our packages
                                            </p>
                                        </div>
        
                                    </div>
                                </div>


                                <div class="col-md-4 col-lg-4 mt-3 about-details text-center">
                                    <div class="services-single">
                                        <div class="header">
                                            <i class="fa fa-user">
                                            </i>
                                        </div>
                                        <div class="services-words">
                                            <p>
                                                Get fascinating websites applications for as 
                                                low as possible with our packages
                                            </p>
                                        </div>
        
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4 mt-3 about-details text-center">
                                    <div class="services-single">
                                        <div class="header">
                                            <i class="fa fa-user">
                                            </i>
                                        </div>
                                        <div class="services-words">
                                            <p>
                                                Get fascinating websites applications for as 
                                                low as possible with our packages
                                            </p>
                                        </div>
        
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4 mt-3 about-details text-center">
                                    <div class="services-single">
                                        <div class="header">
                                            <i class="fa fa-user">
                                            </i>
                                        </div>
                                        <div class="services-words">
                                            <p>
                                                Get fascinating websites applications for as 
                                                low as possible with our packages
                                            </p>
                                        </div>
        
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4 mt-3 about-details text-center">
                                    <div class="services-single">
                                        <div class="header">
                                            <i class="fa fa-user">
                                            </i>
                                        </div>
                                        <div class="services-words">
                                            <p>
                                                Get fascinating websites applications for as 
                                                low as possible with our packages
                                            </p>
                                        </div>
        
                                    </div>
                                </div>
                                
                        </div>
                    </section>
                  



                  <section class="packages">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-md-12 col-lg-8 mt-5 text-center">
                                  <h2>
                                      Packages
                                  </h2>
                              </div>
                          </div>

                          <div class="row justify-content-center">

                              <div class="col-lg-4 col-md-4 mt-5 text-center">
                                  <div class="package-single">
                                      <div class="package-price">
                                        
                                      <span>
                                    $250
                                    </span>

                                      </div>

                                      <div class="package-details">
                                          <ul>
                                            <hr class="my-4">

                                              <li type="bullet">
                                                Website with no admin dashboard 
                                              </li>

                                              <hr class="my-4">

                                              <li type="bullets">
                                                Maximum of 5 pages 
                                              </li>

                                              <hr class="my-4">

                                              <li type="bullets">
                                                Maximum of 5 pages 
                                              </li>

                                              <hr class="my-4">
                                              
                                              <li type="bullets">
                                                Maximum of 5 pages 
                                              </li>

                                          </ul>
                                      </div>
                                  </div>
                              </div>





                              
                              <div class="col-lg-4 col-md-4 mt-5 text-center">
                                <div class="package-single">
                                    <div class="package-price">
                                      
                                    <span>
                                      $250
                                  </span>

                                    </div>

                                    <div class="package-details">
                                        <ul>
                                          <hr class="my-4">

                                            <li type="bullet">
                                              Website with no admin dashboard 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">
                                            
                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>



                            
                            <div class="col-lg-4 col-md-4 mt-5 text-center">
                                <div class="package-single">
                                    <div class="package-price">
                                      
                                    <span>
                                    $250
                                  </span>

                                    </div>

                                    <div class="package-details">
                                        <ul>
                                          <hr class="my-4">

                                            <li type="bullet">
                                              Website with no admin dashboard 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">
                                            
                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>



                            
                            <div class="col-lg-4 col-md-4 mt-5 text-center">
                                <div class="package-single">
                                    <div class="package-price">
                                      
                                    <span>
                                    $250
                                  </span>

                                    </div>

                                    <div class="package-details">
                                        <ul>
                                          <hr class="my-4">

                                            <li type="bullet">
                                              Website with no admin dashboard 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">

                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                            <hr class="my-4">
                                            
                                            <li type="bullets">
                                              Maximum of 5 pages 
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                          </div>

                      </div>

                  </section>          

                      
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

       