{% extends 'layout.html' %}
{% load static %}

{% block content %}

        <section class="services mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8 text-center">
                        <h2>
                            We Offer The Best Web Development Services
                        </h2>

                        <p>
                            
                            We are a big tech agency with experience
                            developers who shall get your work done We are a big 
                            tech agency with experience developers who shall get
                            your work done 
                        </p>
                    </div>
                </div>

                
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6 col-lg-5 text-center mt-5">
                        <img src="{% static 'img/features-3.png' %}" alt="" width="80%">
                    </div>

                    <div class="col-md-6 col-lg-7 mt-5 text-center">
                        <h2>
                            Get Started By Creating An Account
                        </h2>

                        <p>
                            Create an account with us to purchase any of our awesome packages.
                            An account does not only allows you to purchase but it boosts your profile with us.
                         
                        </p>

                        <a href="{% url 'accounts:signup' %} "  class="btn btn-outline-white">Create Account Now </a>
                    </div>
                </div>



                <div class="row justify-content-center mt-5">
                    <div class="col-md-12 col-lg-8 text-center mt-5">
                        <h2>
                            Created An Account? Then Login To Purchase Any Of Our Packages 
                        </h2>
                    </div>
                    </div>
                    <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 mt-5 text-center">
                        <div class="package-single">
                            <div class="package-price">
                              
                            <span>
                          $250
                          </span>

                            </div>

                            <div class="package-details">
                                <ul>
                                  <hr class="my-4">

                                    <li type="bullet">
                                      Website with no admin dashboard 
                                    </li>

                                    <hr class="my-4">

                                    <li type="bullets">
                                      Maximum of 5 pages 
                                    </li>

                                    <hr class="my-4">

                                    <li type="bullets">
                                      Maximum of 5 pages 
                                    </li>

                                    <hr class="my-4">
                                    
                                    <li type="bullets">
                                      Maximum of 5 pages 
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>





                    
                    <div class="col-lg-4 col-md-4 mt-5 text-center">
                      <div class="package-single">
                          <div class="package-price">
                            
                          <span>
                            $250
                        </span>

                          </div>

                          <div class="package-details">
                              <ul>
                                <hr class="my-4">

                                  <li type="bullet">
                                    Website with no admin dashboard 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">
                                  
                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                              </ul>
                          </div>
                      </div>
                  </div>



                  
                  <div class="col-lg-4 col-md-4 mt-5 text-center">
                      <div class="package-single">
                          <div class="package-price">
                            
                          <span>
                          $250
                        </span>

                          </div>

                          <div class="package-details">
                              <ul>
                                <hr class="my-4">

                                  <li type="bullet">
                                    Website with no admin dashboard 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">
                                  
                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                              </ul>
                          </div>
                      </div>
                  </div>



                  
                  <div class="col-lg-4 col-md-4 mt-5 text-center">
                      <div class="package-single">
                          <div class="package-price">
                            
                          <span>
                          $250
                        </span>

                          </div>

                          <div class="package-details">
                              <ul>
                                <hr class="my-4">

                                  <li type="bullet">
                                    Website with no admin dashboard 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">

                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                                  <hr class="my-4">
                                  
                                  <li type="bullets">
                                    Maximum of 5 pages 
                                  </li>

                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
                <a href="./login.html" class="btn btn-outline-white mt-3 pull-right mb-5 s-btn ">Proceed To Login</a>
            </div>
        </section>


        {% endblock %}